body {
    margin: 0;
    padding: 0;
    background: rgb(26, 26, 26);
    min-height: 100vh;
    color: white;
    border-top: 1px solid rgb(177, 0, 0);
}

.title {
    text-align: center;
    font-size: 13vh;
    margin-top: 5%;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner img {
    object-fit: cover;
    clip-path: polygon(1% 20%, 97% 20%, 97% 72%, 1% 72%);
    width: 90vw;
    margin-bottom: -10%;
    margin-top: -5%;
    margin-left: 1%;
}

.apre {
    margin: 1vh 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-align: justify;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 10%;
}

.sub {
    text-align: center;
    font-size: 8vh;
    margin-bottom: 3%;
    text-shadow: 2px 2px 5px black;
}

.conteiner {
    display: grid;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 2px 2px 10px rgb(177, 0, 0), -2px -2px 5px rgb(112, 32, 32);
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 5%;
}

.conteiner hr {
    border: 2px solid rgb(136, 0, 0);
    border-radius: 1px;
    width: 80%;
    position: relative;
    left: -10%;
    margin-bottom: 7%;
    margin-top: -2%;
}

.top {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    text-shadow: 2px 2px 5px black;
}

.texto p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 2.3vh;
    text-shadow: 1px 1px 3px black;
}

.imagem-texto {
    display: flex;
    align-items: center;
    margin-bottom: 7%;
}

.imagem-direita,
.imagem-esquerda {
    aspect-ratio: 9 / 14;
    object-fit: cover;
    width: 17%;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    height: auto;
}

.imagem-esquerda {
    margin-right: 3%;
}

.imagem-direita {
    margin-left: 3%;
}


.tabela-linha-tempo {
    width: 90%;
    border-collapse: collapse;
    margin-top: 4vh;
    color: white;
    text-align: center;
    margin-left: 5%;
}

.tabela-linha-tempo th,
.tabela-linha-tempo td {
    border: 1px solid rgb(130, 0, 0);
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.linha-cabecalho th {
    background: rgb(90, 0, 0);
    font-size: 3vh;
}

.linha-item td {
    background: rgb(40, 40, 40);
    font-size: 2.3vh;
}

.cel-texto {
    text-align: justify;
}

.cel-imagem img {
    width: 90px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px black;
}